<html>
    <head>
<body>
        <h1>
            bonjour
        </h1>
        <h2>
            bonjour
        </h2>
        <h3>
            bonjour
        </h>
        <h3>
            bonjour
        </h>
        <h4>
            bonjour
        </h4>
        <h5>
            bonjour
        </h5>
        <h6>
            bonjour
        </h6>
        <p>
            <b>
            ma9RINA CHY AMNEWWEL
        </b>
        </p>
        <img src="C:\Users\achra\Pictures\Screenshots\achraf.png" alt="bonjour">
    </body>
    </head>